@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
  padding: 0;
  font: 300 14px/20px Helvetica, Verdana, Geneva, Sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
} /** General Stylings */

.hidden {
  display: none;
  opacity: 0;

  /* better performance than display: none as transform can use hardware acceleration but unfortunately leaves the space
  transform: scale(0);*/
}

.divider {
  border-top: 3px solid #bbb;
}

/* TODO */
.mapboxgl-ctrl-attrib-button {
  display: none;
}

.button-disabled {
  opacity: 0.4;
  background-color: #5c5c5c;
  cursor: auto;
}

.button-disabled:active {
  background-color: #5c5c5c;
}

.button-disabled:hover {
  background-color: #5c5c5c;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiocontainer .checkmark:after {
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.modal-content {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s;
}

.snackbarActive {
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.searchInput.active {
  width: 100%;
  padding: 0 6px;
}

.searchInput {
  transition: 0.4s;
}

.cheronout {
  animation: moveout 0.45s ease-in-out;
}

.cheronin {
  animation: movein 0.45s ease-in-out;
}

.menu-inv {
  -webkit-animation: fadeoutsimple 0.5s;
  animation: fadeoutsimple 0.5s;
}

.slider {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switchinput:checked + .slider {
  background-color: #2196f3;
}

.switchinput:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switchinput:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Add Animation */

.filterbtnout {
  -webkit-animation: slideright 0.5s;
  animation: slideright 0.5s;
}

.filterbtnin {
  -webkit-animation: slideleft 0.5s;
  animation: slideleft 0.5s;
}

@-webkit-keyframes slideright {
  from {
    left: 2%;
  }
  to {
    left: 28%;
  }
}

@keyframes slideright {
  from {
    left: 2%;
  }
  to {
    left: 28%;
  }
}

@-webkit-keyframes slideleft {
  from {
    left: 28%;
  }
  to {
    left: 2%;
  }
}

@keyframes slideleft {
  from {
    left: 28%;
  }
  to {
    left: 2%;
  }
}

@keyframes moveout {
  from {
    left: -16px;
  }
  to {
    left: calc(25% - 16px);
  }
}

@keyframes movein {
  from {
    left: calc(25% - 16px);
  }
  to {
    left: -16px;
  }
}

@-webkit-keyframes animateopen {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes animateopen {
  from {
    width: 0;
  }

  to {
    width: auto;
  }
}

@-webkit-keyframes animateclose {
  from {
    width: 100vw;
  }

  to {
    width: 75vw;
  }
}

@keyframes animateclose {
  from {
    width: 100vw;
  }

  to {
    width: 75vw;
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@-webkit-keyframes fadeinsimple {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeinsimple {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeoutsimple {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeoutsimple {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
